<nav class="navbar">
  <div class="navbar__inner wrapper">
    <%= link_to inline_svg_vite_tag("images/logo.svg", class: "navbar__logo", alt: "JetRockets"), root_path, aria: { label: "JetRockets" } %>
    <ul class="navbar__menu" data-navbar-target="menu">
      <li>
        <%= link_to "UI elements", ui_path, class: "navbar__link #{"navbar__link-active" if current_page?(ui_path)}" %>
      </li>
      <li>
        <%= link_to "Privacy Policy", privacy_path, class: "navbar__link #{"navbar__link-active" if current_page?(privacy_path)}" %>
      </li>
      <li>
        <%= link_to "Terms and conditions", terms_path, class: "navbar__link #{"navbar__link-active" if current_page?(terms_path)}" %>
      </li>
    </ul>

    <div class="navbar__right">
      <% if rodauth.logged_in? %>
        <%= button_to "Sign Out", rodauth.logout_path, data: { turbo: false, turbo_method: :post }, class: "btn btn-primary btn-outlined btn-sm" %>
      <% else %>
        <%= link_to "Sign In", rodauth.login_path, class: "btn btn-primary btn-outlined btn-sm", data: { turbo_frame: :modal } %>
        <%= link_to "Sign Up", rodauth.create_account_path, class: "btn btn-primary btn-sm", data: { turbo_frame: :modal } %>
      <% end %>

      <%= button_tag class: "btn btn-link btn-sm navbar__burger", data: { action: "click->navbar#toggle", navbar_target: "burger" } do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" class="navbar__open" />
          <path stroke-linecap="round" stroke-width="2" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" class="navbar__close" />
        </svg>
      <% end %>
    </div>
  </div>
</nav>
