<div class="flex items-center justify-end flex-1 gap-2">
  <%= link_to "https://github.com/jetrockets/ui.jetrockets.com", target: "_blank", rel: "noopener noreferrer" do %>
    <%= render Ui::Icon::Component.new path: "github.svg", class: "size-8 mr-2" %>
  <% end %>

  <% if rodauth.logged_in? %>
    <%= render Ui::Dropdown::Component.new do |dropdown| %>
      <%= dropdown.with_trigger(class: "h-8") do %>
        <%= render Ui::Avatar::Component.new size: :sm %>
      <% end %>
      <%= dropdown.with_menu do |list| %>
        <%= list.with_element_link(title: "Profile", href: "#") %>
        <%= list.with_element_divider %>
        <%= list.with_element_button(title: "Sign Out", href: rodauth.logout_path, data: { turbo: false, turbo_method: :post }) %>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to "Sign In", rodauth.login_path, class: "btn btn-primary btn-outlined btn-sm", data: { turbo_frame: :modal } %>
    <%= link_to "Sign Up", rodauth.create_account_path, class: "btn btn-primary btn-sm", data: { turbo_frame: :modal } %>
  <% end %>
</div>
