<%= ui.btn_group sticky: false do %>
  <%= link_to "https://github.com/jetrockets/ui.jetrockets.com", target: "_blank", rel: "noopener noreferrer" do %>
    <%= icon_tag "github", size: 7, class: "mr-2" %>
    <span class="sr-only">GitHub</span>
  <% end %>

  <% if rodauth.logged_in? %>
    <%= ui.dropdown do %>
      <%= ui.dropdown_trigger do %>
        <%= ui.avatar size: 8, user: current_user %>
      <% end %>
      <%= ui.dropdown_menu do %>
        <%= ui.dropdown_link "Profile", url: user_profile_path, active: current_page?(user_profile_path) %>
        <%= ui.dropdown_divider %>
        <%= ui.dropdown_button "Sign Out", url: rodauth.logout_path, data: { turbo: false, turbo_method: :post } %>
      <% end %>
    <% end %>
  <% else %>
    <%= ui.btn_group sticky: false, class: "hidden" do %>
      <%= ui.btn "Sign In", url: rodauth.login_path, size: :sm, variant: :ghost, data: { turbo_frame: :modal } %>
      <%= ui.btn "Sign Up", url: rodauth.create_account_path, size: :sm, variant: :outline, data: { turbo_frame: :modal } %>
    <% end %>

    <%= ui.btn "Sign In", url: rodauth.login_path, size: :sm, data: { turbo_frame: :modal }, class: "md:hidden" %>
  <% end %>
<% end %>
