<%= ui.sidebar class: "body__sidebar", data: { sidebar_target: "menu" } do %>
  <div class="fixed right-4 top-4 md:hidden">
    <%= ui.btn ui.icon("x-mark"), variant: :ghost, size: :icon_lg, data: { action: "click->sidebar#toggle" } %>
  </div>

  <%= ui.sidebar_section do %>
    <%= ui.sidebar_title "Basics" %>
    <%= ui.sidebar_menu do %>
      <%= ui.sidebar_link "Introduction", url: ui_path %>
      <%= ui.sidebar_link "Getting Started", url: ui_getting_started_path %>
      <%= ui.sidebar_link "Good to know", url: ui_good_to_know_path %>
      <%= ui.sidebar_link "Colors", url: ui_colors_path %>
      <%= ui.sidebar_link "Typography", url: ui_typography_path %>
      <%= ui.sidebar_link "Theme Builder", url: builder_path, target: :_blank %>
    <% end %>
  <% end %>

  <%= ui.sidebar_section do %>
    <%= ui.sidebar_title "Components" %>
    <%= ui.sidebar_menu do %>
      <%= ui.sidebar_link "Accordion", url: ui_accordion_path %>
      <%= ui.sidebar_link "Alert", url: ui_alert_path %>
      <%= ui.sidebar_link "Avatar", url: ui_avatar_path %>
      <%= ui.sidebar_link "Badge", url: ui_badge_path %>
      <%= ui.sidebar_link "Breadcrumbs", url: ui_breadcrumbs_path %>
      <%= ui.sidebar_link "Button", url: ui_button_path %>
      <%= ui.sidebar_link "Card", url: ui_card_path %>
      <%= ui.sidebar_link "Clipboard", url: ui_clipboard_path %>
      <%= ui.sidebar_link "Divider", url: ui_divider_path %>
      <%= ui.sidebar_link "Drawer", url: ui_drawer_path %>
      <%= ui.sidebar_link "Dropdown", url: ui_dropdown_path %>
      <%= ui.sidebar_link "Empty", url: ui_empty_path %>
      <%= ui.sidebar_link "Flash Message", url: ui_flash_message_path %>
      <%= ui.sidebar_link "Group", url: ui_group_path %>
      <%= ui.sidebar_link "Header", url: ui_header_path %>
      <%= ui.sidebar_link "Icon", url: ui_icon_path %>
      <%= ui.sidebar_link "List", url: ui_list_path %>
      <%= ui.sidebar_link "Modal", url: ui_modal_path %>
      <%= ui.sidebar_link "Navbar", url: ui_navbar_path %>
      <%= ui.sidebar_link "Pagy", url: ui_pagy_path %>
      <%= ui.sidebar_link "Popover", url: ui_popover_path %>
      <%= ui.sidebar_link "Sidebar", url: ui_sidebar_path %>
      <%= ui.sidebar_link "Spinner", url: ui_spinner_path %>
      <%= ui.sidebar_link "Stat", url: ui_stat_path %>
      <%= ui.sidebar_link "Stepper", url: ui_stepper_path %>
      <%= ui.sidebar_link "Table", url: ui_table_path %>
      <%= ui.sidebar_link "Tabs", url: ui_tabs_path %>
      <%= ui.sidebar_link "Timeline", url: ui_timeline_path %>
      <%= ui.sidebar_link "Tooltip", url: ui_tooltip_path %>
      <%= ui.sidebar_link "Turbo Confirm", url: ui_turbo_confirm_path %>
    <% end %>
  <% end %>

  <%= ui.sidebar_section do %>
    <%= ui.sidebar_title do %>
      Kit
      <%= ui.badge "New", size: :sm, variant: :success %>
    <% end %>
    <%= ui.sidebar_menu do %>
      <%= ui.sidebar_link "All Blocks", url: ui_kit_index_path %>
      <%= ui.sidebar_link "Hero Sections", url: ui_kit_category_path(:hero_sections) %>
      <%= ui.sidebar_link "Feature Sections", url: ui_kit_category_path(:feature_sections) %>
      <%= ui.sidebar_link "Pricing Tables", url: ui_kit_category_path(:pricing_tables) %>
      <%= ui.sidebar_link "Call to Action", url: ui_kit_category_path(:cta_sections) %>
      <%= ui.sidebar_link "Testimonials", url: ui_kit_category_path(:testimonials) %>
      <%= ui.sidebar_link "Team Sections", url: ui_kit_category_path(:team_sections) %>
      <%= ui.sidebar_link "Stats & Logos", url: ui_kit_category_path(:stats_sections) %>
      <%= ui.sidebar_link "Newsletter", url: ui_kit_category_path(:newsletter_sections) %>
      <%= ui.sidebar_link "Form Layouts", url: ui_kit_category_path(:form_layouts) %>
      <%= ui.sidebar_link "Page Layouts", url: ui_kit_category_path(:page_layouts) %>
      <%= ui.sidebar_link "Footers", url: ui_kit_category_path(:footers) %>
    <% end %>
  <% end %>

  <%= ui.sidebar_section do %>
    <%= ui.sidebar_title "Forms" %>
    <%= ui.sidebar_menu do %>
      <%= ui.sidebar_link "Core Form Builder", url: ui_form_builders_core_path %>
      <%= ui.sidebar_link "Default Form Builder", url: ui_form_builders_default_path %>
      <%= ui.sidebar_link "TextField", url: ui_form_builders_text_field_path %>
      <%= ui.sidebar_link "TextArea", url: ui_form_builders_text_area_path %>
      <%= ui.sidebar_link "Select", url: ui_form_builders_select_path %>
      <%= ui.sidebar_link "Choices Select", url: ui_form_builders_choices_path %>
      <%= ui.sidebar_link "Checkbox", url: ui_form_builders_checkbox_path %>
      <%= ui.sidebar_link "Radio Button", url: ui_form_builders_radio_button_path %>
      <%= ui.sidebar_link "Toggler", url: ui_form_builders_toggler_path %>
      <%= ui.sidebar_link "Easepick (date picker)", url: ui_form_builders_easepick_path %>
    <% end %>
  <% end %>

  <%= ui.sidebar_section do %>
    <%= ui.sidebar_title do %>
      Plugins
      <%= ui.badge "Coming Soon", size: :xs, variant: :info %>
    <% end %>
    <%= ui.sidebar_menu do %>
      <%= ui.sidebar_link "Charts", disabled: true %>
      <%= ui.sidebar_link "Drag&Drop Sortable", disabled: true %>
      <%= ui.sidebar_link "Dynamic Select", disabled: true %>
      <%= ui.sidebar_link "File uploader", disabled: true %>
      <%= ui.sidebar_link "Lexical WYSIWYG", disabled: true %>
      <%= ui.sidebar_link "Nested Fields", disabled: true %>
      <%= ui.sidebar_link "Tagify", disabled: true %>
    <% end %>
  <% end %>
<% end %>
