
<%= form_with url: rodauth.create_account_path, method: :post, class: "form" do |form| %>
  <div class="modal__body">
    <div class="form__group">
      <%= form.label :login, rodauth.login_label %>
      <%= form.email_field rodauth.login_param, autofocus: true, value: params[rodauth.login_param], id: "login", autocomplete: "email", required: true, class: "#{"form__input-errored" if rodauth.field_error(rodauth.login_param) }" %>
      <% if rodauth.field_error(rodauth.login_param) %>
        <%= content_tag :p, rodauth.field_error(rodauth.login_param), class: "form__error" %>
      <% end %>
    </div>

    <% if rodauth.require_login_confirmation? %>
      <div class="form__group">
        <%= form.label "login-confirm", rodauth.login_confirm_label %>
        <%= form.email_field rodauth.login_confirm_param, value: params[rodauth.login_confirm_param], id: "login-confirm", autocomplete: "email", required: true, class: "#{"form__input-errored" if rodauth.field_error(rodauth.login_confirm_param)}" %>
        <%= content_tag :p, rodauth.field_error(rodauth.login_confirm_param), class: "form__error" %>
      </div>
    <% end %>

    <% if rodauth.create_account_set_password? %>
      <div class="form__group">
        <%= form.label "password", rodauth.password_label %>
        <%= form.password_field rodauth.password_param, value: "", id: "password", autocomplete: rodauth.password_field_autocomplete_value, required: true, class: "#{"form__input-errored" if rodauth.field_error(rodauth.password_param)}" %>
        <%= content_tag :p, rodauth.field_error(rodauth.password_param), class: "form__error" %>
      </div>

      <% if rodauth.require_password_confirmation? %>
        <div class="form__group">
          <%= form.label "password-confirm", rodauth.password_confirm_label %>
          <%= form.password_field rodauth.password_confirm_param, value: "", id: "password-confirm", autocomplete: "new-password", required: true, class: "#{"form__input-errored" if rodauth.field_error(rodauth.password_confirm_param)}" %>
          <%= content_tag :p, rodauth.field_error(rodauth.password_confirm_param), class: "form__error" %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="modal__footer modal__footer-sticky">
    <%= form.submit rodauth.create_account_button, class: "btn btn-primary btn-block" %>

    <% if turbo_frame_request? %>
      <button data-modal-hide="modalContainer" type="button" class="btn">Cancel</button>
    <% end %>
  </div>
<% end %>
