<%= container_tag do %>
  <div class="modal__content">
    <div class="modal__header">
      <div>
        <h3 class="modal__title">
          <%= @title %>
        </h3>
        <% if @subtitle %>
          <div class="modal__subtitle">
            <%== @subtitle %>
          </div>
        <% end %>
      </div>

      <!-- TODO. Only for frame_modal or sync -->
      <button type="button" class="modal__close" data-action="click->modal-turbo#close click->modal#close" aria-label="Close">
        <%= helpers.vite_svg_tag "images/icons/close.svg", class: "w-6 h-6" %>
      </button>
    </div>

    <%= content %>
  </div>
<% end %>
