<%= container_tag do %>
  <div class="modal__content">
    <div class="modal__header">
      <div>
        <h3 class="modal__title">
          <%= @title %>
        </h3>
        <% if @subtitle %>
          <div class="modal__subtitle">
            <%== @subtitle %>
          </div>
        <% end %>
      </div>

      <% if helpers.turbo_frame_request? %>
        <button type="button" class="modal__close" data-action="click->modal#close">
          <%= helpers.vite_svg_tag "images/icons/close.svg", class: "w-6 h-6" %>
          <span class="sr-only">Close modal</span>
        </button>
      <% end %>
    </div>

    <%= content %>
  </div>
<% end %>
