<%
  set_meta_tags(
    title: "Homepage",
    description: "Our homepage is the best place to find out what we do and how we can help you.",
    keywords: "Site, Login, Members"
  )
%>
<% breadcrumb :ui %>

<div class="space-y-8 wrapper">
  <h1 class="text-lg font-semibold">UI template of JetRockets</h1>

  <div class="md:w-8/12">
    <%= component "ui/accordion" do |accordion| %>
      <%= accordion.with_item(title: "Alerts", id: "alerts", class: "space-y-2") do %>
        <%= component "ui/alert", type: :info do |alert| %>
          <strong>Info alert!</strong> Change a few things up and try submitting again.
        <% end %>

        <%= component "ui/alert", type: :error do |alert| %>
          <strong>Danger alert!</strong> Change a few things up and try submitting again.
        <% end %>

        <%= component "ui/alert", type: :success do |alert| %>
          <strong>Success alert!</strong> Change a few things up and try submitting again.
        <% end %>

        <%= component "ui/alert", type: :warning do |alert| %>
          <strong>Warning alert!</strong> Change a few things up and try submitting again.
        <% end %>

        <%= component "ui/alert" do |alert| %>
          <strong>Deafault alert!</strong> Change a few things up and try submitting again.
        <% end %>
      <% end %>

      <%= accordion.with_item(title: "Async Modal", id: "modal") do %>
        <p class="mb-2 text-gray-600 dark:text-gray-400">
          By continuing, I agree to <%= site_name %>
          <%= link_to "Terms of Service", terms_path, data: { turbo_frame: :modal }, class: "link" %>,
          <%= link_to "Privacy Policy", privacy_path, data: { turbo_frame: :modal }, class: "link" %> and I confirm I am 18 years old.
        </p>
      <% end %>

      <%= accordion.with_item(title: "Badges", id: "bages", class: "space-x-2") do %>
        <%= component "ui/badge", title: "Default" %>
        <%= component "ui/badge", title: "Blue", type: :blue %>
        <%= component "ui/badge", title: "Red", type: :red %>
        <%= component "ui/badge", title: "Green", type: :green %>
        <%= component "ui/badge", title: "Yellow", type: :yellow %>
        <%= component "ui/badge", title: "Indigo", type: :indigo %>
        <%= component "ui/badge", title: "Purple", type: :purple %>
        <%= component "ui/badge", title: "Pink", type: :pink %>
      <% end %>

      <%= accordion.with_item(title: "Buttons", id: "buttons", class: "space-y-4") do %>
        <div class="gap-1">
          <%= link_to "Button XS", "#", class: "btn btn-xs" %>
          <%= link_to "Button SM", "#",class: "btn btn-sm" %>
          <%= link_to "Button MD", "#",class: "btn btn-md" %>
          <%= link_to "Button LG", "#",class: "btn btn-lg" %>
          <%= link_to "Button XL", "#",class: "btn btn-xl" %>
        </div>

        <div class="gap-1">
          <%= link_to "Default", "#", class: "btn" %>
          <%= link_to "Primary", "#", class: "btn btn-primary" %>
          <%= link_to "Secondary", "#", class: "btn btn-secondary" %>
          <%= link_to "Danger", "#", class: "btn btn-danger" %>
        </div>

        <div class="gap-1">
          <%= link_to "Default Outlined", "#", class: "btn btn-outlined" %>
          <%= link_to "Primary Outlined", "#", class: "btn btn-primary btn-outlined" %>
          <%= link_to "Secondary Outlined", "#", class: "btn btn-secondary btn-outlined" %>
          <%= link_to "Danger Outlined", "#", class: "btn btn-danger btn-outlined" %>
        </div>

        <div class="flex items-center gap-1">
          <%= link_to "Primary", "#", class: "btn btn-primary" %>
          <%= link_to "Secondary", "#", class: "btn btn-secondary" %>
          <%= link_to "#", class: "btn btn-iconed" do %>
            <svg class="w-4 h-4 me-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.182 15.182a4.5 4.5 0 0 1-6.364 0M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0ZM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Z" />
            </svg>
            <span>Iconed</span>
          <% end %>
        </div>
      <% end %>

      <%= accordion.with_item(title: "Dropdown Example", id: "accordion_dropdown") do %>
        <%= component "ui/dropdown", id: "dropdown" do |dropdown| %>
          <%= dropdown.with_button class: "btn btn-primary btn-iconed" do %>
            Dropdown Button
            <svg class="w-2.5 h-2.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4">
            </svg>
          <% end %>
          <%= dropdown.with_links([
            { name: "Dashboard", href: "#" },
            { name: "Settings", href: "#" },
            { name: "Terms of Service", href: terms_path, data: { turbo_frame: :modal } },
            { name: "Privacy Policy", href: privacy_path, data: { turbo_frame: :modal } },
          ]) %>
        <% end %>
      <% end %>

      <%= accordion.with_item(title: "Form Builder", id: "form_builder", opened: true) do %>
        <%= form_with url: root_path do |f| %>
          <div class="grid gap-x-4 md:grid-cols-2">
            <div class="form__group">
              <%= f.label :first_name, class: "form__label" %>
              <%= f.text_field :first_name, autofocus: true, class: "form__input" %>
            </div>
            <div class="form__group">
              <%= f.label :last_name, class: "form__label" %>
              <%= f.text_field :last_name, class: "form__input" %>
            </div>
          </div>

          <div class="form__group">
            <%= f.label :email, class: "form__label" %>
            <%= f.email_field :email, autocomplete: "email", class: "form__input" %>
          </div>

          <div class="form__group">
            <%= f.label :password, class: "form__label" %>
            <%= f.password_field :password, help: "Password should contain at least 8 characters, including at least one letter and one number.", autocomplete: "current-password", class: "form__input" %>
          </div>

          <div class="form__group">
            <div class="flex items-start">
              <%= f.check_box :free_shipping, class: "form__checkbox" %>
              <div class="pl-2">
                <%= f.label :free_shipping, class: "form__label form__label-checkbox" %>
                <p class="form__hint">For orders shipped from $25 in books or $29 in other categories</p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

      <%= accordion.with_item(title: "Confirm Dialog", id: "clipboard") do %>
        <%= button_to "Delete", "#", class: "btn btn-danger", data: { turbo_confirm: "Blocking this account will prevent further interactions, and you have the option to unblock it later if needed." } %>
      <% end %>
    <% end %>
  </div>
</div>
