<%
  set_meta_tags(
    title: "Homepage",
    description: "Our homepage is the best place to find out what we do and how we can help you.",
    keywords: "Site, Login, Members"
  )
%>

<article class="space-y-8 wrapper">
  <section class="wysiwyg">
    <h1>Component Examples</h1>
    <p>
      We based on <%= link_to "Flowbite", "https://flowbite.com/", target: :_blank, ref: "nofollow noopener noreferrer", class: "link" %>. So if you need more components, you can find them there and implement them in your project.
    </p>
  </section>

  <section class="space-y-8">
    <div class="md:w-8/12">
      <%= render Ui::Accordion::Component.new do |accordion| %>
        <%= accordion.with_item(title: "Alerts", id: "alerts", class: "space-y-2") do %>
          <%= render Ui::Alert::Component.new(type: :info, title: "Info Alert", icon_path: "images/icons/alert.svg", class: "mb-4") do %>
            <ul class="pl-3 text-xs list-disc">
              <li>It's just a template, you can change every component.</li>
              <li>It's just a template, you can change every component.</li>
              <li>It's just a template, you can change every component.</li>
              <li>It's just a template, you can change every component.</li>
            </ul>
          <% end %>

          <%= render Ui::Alert::Component.new type: :error, title: "Danger alert!" %>
          <%= render Ui::Alert::Component.new type: :success, title: "Success alert!" %>
          <%= render Ui::Alert::Component.new type: :warning, title: "Warning alert!" %>
          <%= render Ui::Alert::Component.new title: "Default alert!" %>
        <% end %>

        <%= accordion.with_item(title: "Async Modal", id: "modal") do %>
          <p class="mb-2 text-gray-600">
            By continuing, I agree to <%= site_name %>
            <%= link_to "Terms of Service", terms_path, data: { turbo_frame: :modal }, class: "link" %>,
            <%= link_to "Privacy Policy", privacy_path, data: { turbo_frame: :modal }, class: "link" %> and I confirm I am 18 years old.
          </p>
        <% end %>

        <%= accordion.with_item(title: "Badges", id: "bages", class: "space-x-2") do %>
          <%= render Ui::Badge::Component.new title: "Blue XS", variant: :blue, size: :xs %>
          <%= render Ui::Badge::Component.new title: "Default" %>
          <%= render Ui::Badge::Component.new title: "Red SM", variant: :red, size: :sm %>
          <%= render Ui::Badge::Component.new title: "Green MD", variant: :green, size: :md %>
          <%= render Ui::Badge::Component.new title: "Yellow LG", variant: :yellow, size: :lg %>
        <% end %>

        <%= accordion.with_item(title: "Buttons", id: "buttons", class: "space-y-4") do %>
          <div class="flex flex-wrap items-center gap-1">
            <%= render Ui::Btn::Component.new(size: :xs).with_content "Button XS" %>
            <%= render Ui::Btn::Component.new(size: :sm).with_content "Button SM" %>
            <%= render Ui::Btn::Component.new(size: :md).with_content "Button MD" %>
            <%= render Ui::Btn::Component.new(size: :lg).with_content "Button LG" %>
            <%= render Ui::Btn::Component.new(size: :xl).with_content "Button XL" %>
          </div>

          <div class="flex flex-wrap items-center gap-1">
            <%= render Ui::Btn::Component.new(variant: :ghost).with_content "Button Ghost" %>
            <%= render Ui::Btn::Component.new(variant: :link).with_content "Button Link" %>
            <%= render Ui::Btn::Component.new(variant: :primary, rounded: true).with_content "Rounded" %>
          </div>

          <div class="flex flex-wrap items-center gap-1">
            <%= render Ui::Btn::Component.new.with_content "Default" %>
            <%= render Ui::Btn::Component.new(variant: :primary).with_content "Primary" %>
            <%= render Ui::Btn::Component.new(variant: :secondary).with_content "Secondary" %>
            <%= render Ui::Btn::Component.new(variant: :danger).with_content "Danger" %>
          </div>

          <div class="flex flex-wrap items-center gap-1">
            <%= render Ui::Btn::Component.new.with_content("Default").with_icon_content("images/icons/arrow.svg") %>
            <%= render Ui::Btn::Component.new(variant: :primary).with_content("Primary").with_icon_content("images/icons/arrow.svg") %>
            <%= render Ui::Btn::Component.new(variant: :secondary).with_content("Secondary").with_icon_content("images/icons/arrow.svg") %>
            <%= render Ui::Btn::Component.new(variant: :danger).with_content("Danger").with_icon_content("images/icons/arrow.svg") %>
          </div>

          <div class="flex flex-wrap items-center gap-1">
            <%= render Ui::Btn::Component.new(outlined: true).with_content "Default Outlined" %>
            <%= render Ui::Btn::Component.new(variant: :primary, outlined: true).with_content "Primary Outlined" %>
            <%= render Ui::Btn::Component.new(variant: :secondary, outlined: true).with_content "Secondary Outlined" %>
            <%= render Ui::Btn::Component.new(variant: :danger, outlined: true).with_content "Danger Outlined" %>
          </div>

          <div class="flex flex-wrap items-center gap-1">
            <%= render Ui::Btn::Component.new(circle: true, size: :xs).with_icon_content("images/icons/arrow.svg") %>
            <%= render Ui::Btn::Component.new(variant: :primary, circle: true, size: :sm).with_icon_content("images/icons/arrow.svg") %>
            <%= render Ui::Btn::Component.new(variant: :secondary, circle: true, size: :md).with_icon_content("images/icons/arrow.svg") %>
            <%= render Ui::Btn::Component.new(variant: :danger, circle: true, size: :lg).with_icon_content("images/icons/arrow.svg") %>
            <%= render Ui::Btn::Component.new(variant: :primary, outlined: true, circle: true, size: :xl).with_icon_content("images/icons/arrow.svg") %>
          </div>

          <div class="flex flex-wrap items-center gap-1">
            <%= render Ui::Btn::Component.new(block: true, variant: :primary, size: :lg).with_content("Block Button").with_icon_content("images/icons/arrow.svg") %>
          </div>

          <div class="space-y-2">
            <%= render Ui::Btn::Component.new(href: root_path, variant: :primary, size: :lg, block: true).with_content "Link Button" %>
            <%= render Ui::Btn::Component.new(href: root_path, variant: :link).with_content "Link" %>
            <%= render Ui::Btn::Component.new(href: root_path, variant: :ghost).with_content "Link Ghost" %>
          </div>
        <% end %>

        <%= accordion.with_item(title: "Button Group", id: "btnGroup") do %>
          <%= render Ui::BtnGroup::Component.new do |component| %>
            <% component.with_button(variant: :primary, outlined: true) { "Button First" } %>
            <% component.with_button(variant: :primary, outlined: true) { "Button Second" } %>
            <% component.with_button(variant: :primary, outlined: true) { "Button Third" } %>
          <% end %>
        <% end %>

        <%= accordion.with_item(title: "Card", id: "card") do %>
          <%= render Ui::Card::Component.new(title: "Header", body: "Body", footer: "Footer") %>
        <% end %>

        <%= accordion.with_item(title: "Confirm Dialog", id: "clipboard") do %>
          <%= button_to"Delete","#", class: "btn btn-danger", data: { turbo_confirm: "Blocking this account will prevent further interactions, and you have the option to unblock it later if needed." } %>
        <% end %>

        <%= accordion.with_item(title: "Dropdown Example", id: "accordion_dropdown", class: "flex items-center gap-2") do %>
          <%= render Ui::Dropdown::Component.new do |dropdown| %>
            <%= dropdown.with_button do %>
              <%= button_tag class: "btn btn-primary btn-iconed", data: { dropdown_target: "trigger" } do %>
              Default Dropdown
                <svg class="w-2.5 h-2.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4">
                </svg>
              <% end %>
            <% end %>

            <%= dropdown.with_links([
              { name: "Dashboard", href: "#" },
              { name: "Settings", href: "#" },
              { name: "Terms of Service", href: terms_path, data: { turbo_frame: :modal } },
              { name: "Privacy Policy", href: privacy_path, data: { turbo_frame: :modal } },
            ]) %>
          <% end %>

          <div class="relative" data-controller="dropdown">
            <%= button_tag class: "btn btn-primary btn-iconed", data: { dropdown_target: "trigger" } do %>
              Custom Dropdown
              <svg class="w-2.5 h-2.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4">
              </svg>
            <% end %>

            <div class="dropdown" data-dropdown-target="menu">
              <ul class="dropdown__wrapper">
                <li>
                  <%= link_to "Test 1","#", class: "dropdown__link" %>
                </li>
                <li>
                  <%= link_to "Test 2","#", class: "dropdown__link" %>
                </li>
                <li>
                  <%= link_to "Test 3","#", class: "dropdown__link" %>
                </li>
                <li>
                  <%= link_to "Test 4","#", class: "dropdown__link" %>
                </li>
              </ul>
            </div>
          </div>
        <% end %>

        <%= accordion.with_item(title: "Form Builder", id: "form_builder") do %>
          <%= form_with url: root_path do |f| %>
            <div class="grid gap-x-4 md:grid-cols-2">
              <div class="form__group">
                <%= f.label :first_name %>
                <%= f.text_field :first_name, autofocus: true %>
              </div>
              <div class="form__group">
                <%= f.label :last_name %>
                <%= f.text_field :last_name %>
              </div>
            </div>

            <div class="form__group">
              <%= f.label :email %>
              <%= f.email_field :email, autocomplete: "email" %>
            </div>

            <div class="form__group">
              <%= f.label :password %>
              <%= f.password_field :password, help: "Password should contain at least 8 characters, including at least one letter and one number.", autocomplete: "current-password" %>
            </div>

            <div class="form__group">
              <%= f.check_box :free_shipping %>
            </div>

            <div class="form__group">
              <fieldset class="flex flex-col gap-y-2">
                <%= f.radio_button :radio, "1", label: "Radio 1", checked: true %>
                <%= f.radio_button :radio, "2" %>
                <%= f.radio_button :radio, "3" %>
              </fieldset>
            </div>

            <div class="form__group">
              <%= f.toggle :toggle, { label: "Label", hint: { on: "ON hint", off: "OFF hint" } } %>
            </div>

            <%= f.submit "Save" %>
            <%#= render Ui::Btn::Component.new(variant: :primary, type: :submit).with_content "Save" %>
          <% end %>
        <% end %>

        <%= accordion.with_item(title: "Popover", id: "popover") do %>
          <%= button_tag"Default popover", class: "btn", data: { popover_target: "popover_top" }, type: :button %>
          <%= render Ui::Popover::Component.new id: "popover_top", title: "Popover Title", placement: "right" do %>
            <p>And here's some amazing content. It's very engaging.</p>
          <% end %>

          <%= button_tag"Popover Right", class: "btn btn-primary", data: { popover_target: "popover_right", popover_placement: "right" }, type: :button %>
          <%= render Ui::Popover::Component.new id: "popover_right", title: "Popover Title", placement: "right" do %>
            <p>And here's some amazing content. It's very engaging.</p>
          <% end %>
        <% end %>

        <%= accordion.with_item(title: "Table", id: "table") do %>
          <div class="overflow-x-auto">
            <table class="table table-full">
              <thead class="table__thead">
                <tr>
                  <th class="table__th">
                    Name
                  </th>
                  <th />
                  <th class="table__th whitespace-nowrap">
                    Created At
                  </th>
                  <th />
                </tr>
              </thead>

              <tbody class="table__tbody">
                <% 4.times.each do |index| %>
                  <tr>
                    <td class="w-3/5 table__td">
                      <ul>
                        <li>
                          User Name
                        </li>
                        <li class="text-sm font-normal text-gray-600">
                          user_name@gmail.com
                        </li>
                      </ul>
                    </td>
                    <td class="table__td table__td-center">
                      <%= render Ui::Badge::Component.new title: "Active", type: :green %>
                    </td>
                    <td class="table__td whitespace-nowrap">
                      <%= date_format(Time.zone.now, :full_month) %>
                    </td>
                    <td class="table__td table__td-actions">
                      <%= link_to "Edit","#", class: "link" %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>

        <%= accordion.with_item(title: "Sync Tabs", id: "tabs") do %>
          <div class="tabs">
            <div class="tabs__container">
              <ul class="tabs__list" id="default-tab" data-tabs-toggle="#default-tab-content" data-tabs-active-classes="tabs__link-active" data-tabs-inactive-classes="tabs__link" role="tablist">
                <li class="tabs__item" role="presentation">
                  <button class="tabs__link tabs__link-active" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
                </li>
                <li class="tabs__item" role="presentation">
                  <button class="tabs__link tabs__link-active" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Dashboard</button>
                </li>
                <li class="tabs__item" role="presentation">
                  <button class="tabs__link tabs__link-active" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Settings</button>
                </li>
                <li class="tabs__item" role="presentation">
                  <button class="tabs__link tabs__link-active" id="contacts-tab" data-tabs-target="#contacts" type="button" role="tab" aria-controls="contacts" aria-selected="false">Contacts</button>
                </li>
              </ul>
            </div>

            <div class="tabs__content" id="default-tab-content">
              <div class="hidden" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <p class="text-sm text-gray-500">This is some placeholder content the <strong class="font-medium text-gray-800">Profile tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
              </div>
              <div class="hidden" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                <p class="text-sm text-gray-500">This is some placeholder content the <strong class="font-medium text-gray-800">Dashboard tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
              </div>
              <div class="hidden" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                <p class="text-sm text-gray-500">This is some placeholder content the <strong class="font-medium text-gray-800">Settings tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
              </div>
              <div class="hidden" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
                <p class="text-sm text-gray-500">This is some placeholder content the <strong class="font-medium text-gray-800">Contacts tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</article>
