<%= form_with url: root_path do |f| %>
  <%= f.easepick :birthday, hint: "Select your birth date" %>

  <%= f.easepick :start_date, data: {
    easepick_plugins: ["LockPlugin"],
    easepick_lock_min_date: Date.current
  }, hint: "Future dates only" %>

  <%= f.easepick :appointment, data: {
    easepick_plugins: ["LockPlugin", "AmpPlugin"],
    easepick_amp_dropdown: {
      months: true,
      years: true,
      maxYear: Time.zone.today.year + 2,
      minYear: Time.zone.today.year
    }
  }, hint: "Select appointment date", required: true %>

  <div class="form__actions">
    <%= f.submit "Save", class: "btn-lg" %>
  </div>
<% end %>