<%= form_with url: root_path do |f| %>
  <%= f.group class: "flex flex-col gap-2" do %>
    <%= f.radio_button :plan, "basic", label: "Basic Plan", hint: "$9/month" %>
    <%= f.radio_button :plan, "pro", checked: true, hint: "$19/month - Most popular" %>
    <%= f.radio_button :plan, "enterprise", label: "Enterprise Plan", hint: "$49/month" %>
  <% end %>

  <%= f.group class: "flex flex-col gap-2" do %>
    <%= f.radio_button :shipping, "standard", label: "Standard Shipping", hint: "5-7 business days" %>
    <%= f.radio_button :shipping, "express", label: "Express Shipping", hint: "2-3 business days" %>
    <%= f.radio_button :shipping, "overnight", label: "Overnight Shipping", hint: "Next business day" %>
  <% end %>

  <div class="form__actions">
    <%= f.submit "Save", class: "btn-lg" %>
  </div>
<% end %>