<%= form_with url: root_path do |f| %>
  <%= f.group do %>
    <%= f.toggler :dark_mode, hint: "Enable dark theme" %>
  <% end %>

  <%= f.group do %>
    <%= f.toggler :notifications, checked: true, hint: "Receive email notifications" %>
  <% end %>

  <%= f.group do %>
    <%= f.toggler :public_profile, hint: "Make your profile visible to others" %>
  <% end %>

  <%= f.group do %>
    <%= f.toggler :auto_save, checked: true, hint: "Automatically save changes" %>
  <% end %>

  <div class="form__actions">
    <%= f.submit "Save", class: "btn-lg" %>
  </div>
<% end %>