<%= ui.accordion name: "tech-specs", open: true do %>
  <%= ui.accordion_summary "First Item" %>
  <%= ui.accordion_body do %>
    <p>
      Laborum exercitation commodo ut quis nisi dolore incididunt officia. Minim ea incididunt ea tempor dolor sunt. Excepteur ullamco do eu incididunt tempor. Consequat voluptate amet Lorem aliquip elit incididunt mollit reprehenderit cupidatat adipisicing labore proident labore. Officia laboris consectetur commodo sunt eiusmod non velit irure est nulla excepteur et cupidatat duis do.
    </p>
  <% end %>
<% end %>

<%= ui.accordion name: "tech-specs" do %>
  <%= ui.accordion_summary "Second Item" %>
  <%= ui.accordion_body do %>
    <p>
      Laborum exercitation commodo ut quis nisi dolore incididunt officia. Minim ea incididunt ea tempor dolor sunt. Excepteur ullamco do eu incididunt tempor. Consequat voluptate amet Lorem aliquip elit incididunt mollit reprehenderit cupidatat adipisicing labore proident labore. Officia laboris consectetur commodo sunt eiusmod non velit irure est nulla excepteur et cupidatat duis do.
    </p>
  <% end %>
<% end %>

<%= ui.accordion name: "tech-specs" do %>
  <%= ui.accordion_summary "Third Item" %>
  <%= ui.accordion_body do %>
    <p>
      Laborum exercitation commodo ut quis nisi dolore incididunt officia. Minim ea incididunt ea tempor dolor sunt. Excepteur ullamco do eu incididunt tempor. Consequat voluptate amet Lorem aliquip elit incididunt mollit reprehenderit cupidatat adipisicing labore proident labore. Officia laboris consectetur commodo sunt eiusmod non velit irure est nulla excepteur et cupidatat duis do.
    </p>
  <% end %>
<% end %>
