<%= render Ui::Alert::Component.new title: "Default alert!" %>

<%= render Ui::Alert::Component.new variant: :info, title: "Info alert!" %>

<%= render Ui::Alert::Component.new variant: :warning, title: "Warning alert!" %>

<%= render Ui::Alert::Component.new variant: :error, title: "Danger alert!" %>

<%= render Ui::Alert::Component.new variant: :success, title: "Success alert!" %>

<%= render Ui::Alert::Component.new(variant: :info, title: "Info Alert", icon: "alert.svg") do %>
  <ul class="pl-3 list-disc">
    <li>This alert includes additional details</li>
    <li>Multiple list items are supported</li>
    <li>Icons help users quickly identify the alert type</li>
  </ul>
<% end %>
