<div class="flex flex-wrap items-center gap-2">
  <%= render Ui::Avatar::Component.new(size: :xs) %>
  <%= render Ui::Avatar::Component.new(size: :sm) %>
  <%= render Ui::Avatar::Component.new(size: :md) %>
  <%= render Ui::Avatar::Component.new(size: :lg) %>
  <%= render Ui::Avatar::Component.new(size: :xl) %>
</div>

<div class="flex flex-wrap items-center gap-2">
  <%= render Ui::Avatar::Component.new(full_name: "John Doe", size: :xs) %>
  <%= render Ui::Avatar::Component.new(full_name: "John Doe", size: :sm) %>
  <%= render Ui::Avatar::Component.new(full_name: "John Doe", size: :md) %>
  <%= render Ui::Avatar::Component.new(full_name: "John Doe", size: :lg) %>
  <%= render Ui::Avatar::Component.new(full_name: "John Doe", size: :xl) %>
</div>

<div class="flex flex-wrap items-center gap-2">
  <%= render Ui::Avatar::Component.new(full_name: "John Doe", size: :xs, variant: :rounded) %>
  <%= render Ui::Avatar::Component.new(full_name: "John Doe", size: :sm, variant: :rounded) %>
  <%= render Ui::Avatar::Component.new(full_name: "John Doe", size: :md, variant: :rounded) %>
  <%= render Ui::Avatar::Component.new(full_name: "John Doe", size: :lg, variant: :rounded) %>
  <%= render Ui::Avatar::Component.new(full_name: "John Doe", size: :xl, variant: :rounded) %>
</div>
