<div class="flex flex-wrap items-center gap-2">
  <%= ui.avatar(size: 8) %>
  <%= ui.avatar(size: 12) %>
  <%= ui.avatar(size: 16) %>
  <%= ui.avatar(size: 20) %>
</div>

<div class="flex flex-wrap items-center gap-2">
  <%= ui.avatar(user: User.first, size: 8) %>
  <%= ui.avatar(user: User.first, size: 12) %>
  <%= ui.avatar(user: User.first, size: 16) %>
  <%= ui.avatar(user: User.first, size: 20) %>
</div>

<div class="flex flex-wrap items-center gap-2">
  <%= ui.avatar(user: User.first, size: 8, variant: :rounded) %>
  <%= ui.avatar(user: User.first, size: 12, variant: :rounded) %>
  <%= ui.avatar(user: User.first, size: 16, variant: :rounded) %>
  <%= ui.avatar(user: User.first, size: 20, variant: :rounded) %>
</div>

<div class="flex flex-wrap items-center gap-2">
  <%= ui.avatar(user: User.first, size: 8, variant: :square) %>
  <%= ui.avatar(user: User.first, size: 12, variant: :square) %>
  <%= ui.avatar(user: User.first, size: 16, variant: :square) %>
  <%= ui.avatar(user: User.first, size: 20, variant: :square) %>
</div>
