<div class="flex flex-col gap-4">
  <%= ui.btn_group do %>
    <%= ui.btn "Button First", variant: :outline %>

    <%= ui.dropdown do %>
      <%= ui.dropdown_trigger icon_tag("chevron-down"), as: :btn, variant: :outline, size: :icon_md %>
      <%= ui.dropdown_menu do %>
        <%= ui.dropdown_title "Title" %>
        <%= ui.dropdown_link "Settings", url: "#" %>
        <%= ui.dropdown_link "Terms of Service", url: terms_path %>
        <%= ui.dropdown_link "Privacy Policy", url: privacy_path %>
        <%= ui.dropdown_divider %>
        <%= ui.dropdown_link "Sign Up", url: "#" %>
        <%= ui.dropdown_link "Sign In", url: "#" %>
      <% end %>
    <% end %>
  <% end %>

  <%= ui.btn_group sticky: false do %>
    <%= ui.btn "Button With Gap", variant: :outline %>
    <%= ui.btn "Button With Gap", variant: :outline %>
    <%= ui.btn "Button With Gap", variant: :outline %>
  <% end %>

  <%= ui.btn_group do %>
    <%= ui.btn "Button First" %>
    <%= ui.btn "Button Second" %>
    <%= ui.btn "Button Third"  %>
  <% end %>

  <%= ui.btn_group do %>
    <%= ui.btn "Button First", variant: :secondary, rounded: true %>
    <%= ui.btn "Button Second", variant: :secondary, rounded: true %>
    <%= ui.btn "Button Third", variant: :secondary, rounded: true %>
  <% end %>
</div>
