<div class="flex flex-col gap-4">
  <%= ui.btn_group do %>
    <input id="clipboard_input" type="text" class="form__field" value="Copy this!" readonly>
    <%= ui.clipboard "Copy", as: :btn, source_id: "clipboard_input", variant: :secondary, class: "min-w-32" %>
  <% end %>

  <div class="flex items-baseline gap-1">
    <span id="clipboard_text">Any content to copy</span>
    <%= ui.clipboard "Copy", class: "link", source_id: "clipboard_text", tooltip: "Click to copy", success_text: "Content copied!" %>
  </div>

  <div class="flex items-baseline gap-1">
    <%= ui.clipboard ui.icon("clipboard"), as: :btn, size: :icon_xs, variant: :secondary, value: "#{request.original_url}", success_text: "Current URL copied!", tooltip: "Copy current URL" %>

    <%= ui.clipboard ui.icon("clipboard"), as: :btn, size: :icon_sm, variant: :secondary, value: "#{request.original_url}", success_text: "Current URL copied!", tooltip: "Copy current URL" %>

    <%= ui.clipboard ui.icon("clipboard"), as: :btn, size: :icon_md, variant: :secondary, value: "#{request.original_url}", success_text: "Current URL copied!", tooltip: "Copy current URL" %>

    <%= ui.clipboard ui.icon("clipboard"), as: :btn, size: :icon_lg, variant: :secondary, value: "#{request.original_url}", success_text: "Current URL copied!", tooltip: "Copy current URL" %>
  </div>
</div>
