<div>
  <h3 class="mb-3 h4">Async Drawer</h3>
  <%= link_to "Terms of Service", terms_path, data: { turbo_frame: :drawer }, class: "link" %></p>
</div>

<div>
  <h3 class="mt-6 mb-3 h4">Sync Drawer</h3>
  <%= render Ui::Btn::Component.new(variant: :primary, data: { drawers_target: "trigger", action: "click->drawers#show", id: "drawer1" }).with_content "Show drawer" %>

  <%= render Ui::Drawer::Component.new(title: "Info", id: "drawer1") do %>
    <div class="drawer__body">
      <% 3.times do %>
        <p class="mb-6">Labore voluptate qui ex nostrud duis. Elit aute sit dolor consectetur minim tempor sunt excepteur tempor et irure. Cupidatat id sint irure amet dolor aute. Ea ullamco aliquip id cillum laboris sunt irure magna eu proident mollit irure voluptate magna. Commodo dolore ex ullamco amet duis nulla minim. Dolore reprehenderit aliqua veniam aute minim magna fugiat. Irure Lorem nisi ex reprehenderit amet quis deserunt mollit anim laborum ut incididunt nisi ut dolor.</p>
      <% end %>
    </div>
    <div class="drawer__footer drawer__footer-end">
      <%= render Ui::Btn::Component.new(href: "#").with_content "Learn more" %>
      <%= render Ui::Btn::Component.new(variant: :primary, href: "#").with_content "Get access" %>
    </div>
  <% end %>
</div>
