<%= ui.btn "Async Drawer", url: terms_path, data: { turbo_frame: :drawer } %>

<%= ui.btn "Sync Drawer", data: { drawers_target: "trigger", action: "click->drawers#show", id: "drawer1" } %>
<%= ui.drawer(title: "Info", id: "drawer1") do %>
  <%= ui.drawer_body do %>
    <% 3.times do %>
      <p class="mb-6">Labore voluptate qui ex nostrud duis. Elit aute sit dolor consectetur minim tempor sunt excepteur tempor et irure. Cupidatat id sint irure amet dolor aute. Ea ullamco aliquip id cillum laboris sunt irure magna eu proident mollit irure voluptate magna. Commodo dolore ex ullamco amet duis nulla minim. Dolore reprehenderit aliqua veniam aute minim magna fugiat. Irure Lorem nisi ex reprehenderit amet quis deserunt mollit anim laborum ut incididunt nisi ut dolor.</p>
    <% end %>
  <% end %>
  <%= ui.drawer_footer do %>
    <%= ui.btn "Learn more", href: "#" %>
    <%= ui.btn "Get access", href: "#" %>
  <% end %>
<% end %>
