<div>
  <h3 class="mb-3 h4">Async Drawer</h3>
  <%= link_to "Terms of Service", terms_path, data: { turbo_frame: :drawer }, class: "link" %></p>
</div>

<div>
  <h3 class="mt-6 mb-3 h4">Sync Drawer</h3>
  <%= render Ui::Btn::Component.new(variant: :primary, data: { drawer_target: "trigger", drawer_toggle: "drawer", action: "click->drawer#show", id: "drawer1" }, aria_controls: "drawer").with_content "Show drawer" %>

  <%= render Ui::Drawer::Component.new(title: "Info", async: false, id: "drawer1") do %>
    <div class="drawer__body">
      <% 3.times do %>
        <p class="mb-6">Supercharge your hiring by taking advantage of our <a href="#" class="text-blue-600 underline hover:no-underline">limited-time sale</a> for Flowbite Docs + Job Board. Unlimited access to over 190K top-ranked candidates and the #1 design job board.</p>
      <% end %>
    </div>
    <div class="drawer__footer drawer__footer-end">
      <%= render Ui::Btn::Component.new(href: "#").with_content "Learn more" %>
      <%= render Ui::Btn::Component.new(variant: :primary, href: "#").with_content "Get access" %>
    </div>
  <% end %>
</div>
