<%= form_with url: root_path, data: { controller: "fields" } do |f| %>
  <div class="grid gap-x-4 md:grid-cols-2">
    <div class="form__group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, autofocus: true %>
    </div>
    <div class="form__group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
  </div>

  <div class="grid gap-x-4 md:grid-cols-2">
    <div class="form__group">
      <%= f.label :country_multiple, "Multiple Select" %>
      <%= f.choices :country_multiple, ["United States", "Canada", "Mexico"], { include_blank: "Please Select" }, { multiple: true } %>
    </div>

    <div class="form__group">
      <%= f.label :country %>
      <%= f.choices :country, ["United States", "Canada", "Mexico", ["Other", data: { custom_properties: f.field_id(:country, "other", :fieldset) } ]], { include_blank: "Please Select" }, { data: { action: "change->fields#enable" } } %>
      <p class="form__help">
        Select Other to enable the custom country name field.
      </p>
    </div>
  </div>

  <%= field_set_tag nil, disabled: true, class: "form__group disabled:hidden", id: f.field_id(:country, :other, :fieldset), name: f.field_name(:country) do %>
    <%= f.label :country_name %>
    <%= f.text_field :country_name, placeholder: "What is your country?" %>
  <% end %>

  <div class="form__group">
    <%= f.label :email %>
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="form__group">
    <%= f.label :date %>
    <%= f.easepick :date, data: {
      easepick_plugins: ["LockPlugin", "AmpPlugin"],
      easepick_amp_dropdown: {
        months: true,
        years: true,
        maxYear: Time.zone.today.year + 10,
        minYear: Time.zone.today.year - 10
      }
    } %>
  </div>

  <div class="form__group">
    <%= f.label :password %>
    <%= f.password_field :password, help: "Password should contain at least 8 characters, including at least one letter and one number.", autocomplete: "current-password" %>
  </div>

  <div class="form__group">
    <%= f.check_box :free_shipping %>
  </div>

  <div class="form__group">
    <fieldset class="flex flex-col gap-2">
      <%= f.radio_button :radio, "1", label: "Radio 1", checked: true %>
      <%= f.radio_button :radio, "2" %>
      <%= f.radio_button :radio, "3" %>
    </fieldset>
  </div>

  <div class="form__group">
    <%= f.toggle :toggle, { label: "Label", hint: { on: "ON hint", off: "OFF hint" } } %>
  </div>

  <div class="form__actions">
    <%= f.submit "Save", class: "btn-lg" %>
  </div>
<% end %>
