<div class="flex flex-col gap-4">
  <%= ui.group do %>
    <%= ui.btn "Button First", variant: :outline %>

    <%= ui.dropdown do %>
      <%= ui.dropdown_trigger ui.icon("chevron-down"), as: :btn, variant: :outline, size: :icon_md %>
      <%= ui.dropdown_menu do %>
        <%= ui.dropdown_title "Title" %>
        <%= ui.dropdown_link "Settings", url: "#" %>
        <%= ui.dropdown_link "Terms of Service", url: terms_path %>
        <%= ui.dropdown_link "Privacy Policy", url: privacy_path %>
        <%= ui.dropdown_divider %>
        <%= ui.dropdown_link "Sign Up", url: "#" %>
        <%= ui.dropdown_link "Sign In", url: "#" %>
      <% end %>
    <% end %>
  <% end %>

  <%= ui.group sticky: false do %>
    <%= ui.btn "Button With Gap", variant: :outline %>
    <%= ui.btn "Button With Gap", variant: :outline %>
    <%= ui.btn "Button With Gap", variant: :outline %>
  <% end %>

  <%= ui.group do %>
    <%= ui.btn "Button First" %>
    <%= ui.btn "Button Second" %>
    <%= ui.btn "Button Third"  %>
  <% end %>

  <%= ui.group do %>
    <input id="" type="text" class="form__field">
    <%= ui.btn "Search", variant: :outline %>
  <% end %>
</div>
