<div class="flex items-center gap-4">
  <%= render Ui::Icon::Component.new icon_path: "images/icons/chevron-left.svg", class: "size-4" %>
  <%= render Ui::Icon::Component.new icon_path: "images/icons/chevron-left.svg", class: "size-6" %>
  <%= render Ui::Icon::Component.new icon_path: "images/icons/chevron-left.svg", class: "text-primary size-8" %>
  <%= render Ui::Icon::Component.new icon_path: "images/icons/alert.svg", class: "text-red-500 size-6" %>
  <%= render Ui::Icon::Component.new icon_path: "images/icons/alert.svg", class: "text-green-500 size-8" %>
  <%= render Ui::Icon::Component.new icon_path: "images/icons/alert.svg", class: "text-blue-500 size-10" %>
</div>