<div>
  <h3 class="mb-3 h4">Async Modal</h3>
  <p>
    By continuing, I agree to <%= site_name %>
    <%= link_to "Privacy Policy", privacy_path, data: { turbo_frame: :modal }, class: "link" %> and I confirm I am 18 years old.
  </p>
</div>

<div>
  <h3 class="mt-6 mb-3 h4">Sync Modal</h1>

  <div class="flex gap-2">
    <%= render Ui::Btn::Component.new(variant: :primary, data: { action: "click->modals#show", id: "dialog1" }).with_content "One modal" %>
    <%= render Ui::Btn::Component.new(variant: :secondary, data: { action: "click->modals#show", id: "dialog2" }).with_content "Another modal" %>
  </div>

  <%= render Ui::Modal::Component.new(title: "Modal Title", subtitle: "Modal Subtitle", id: "dialog1") do %>
    <p class="p-4">Dialog content</p>
  <% end %>

  <%= render Ui::Modal::Component.new(title: "Another Modal", subtitle: "Another Subtitle", id: "dialog2") do %>
    <p class="p-4">Dialog content 2</p>
  <% end %>
</div>
