<div class="flex gap-4">
  <%= ui.popover do %>
    <%= ui.popover_trigger "Default popover", as: :btn %>
    <%= ui.popover_content(title: "Popover Default") do %>
      And here's some amazing content. It's very engaging.
    <% end %>
  <% end %>

  <%= ui.popover(placement: :right) do %>
    <%= ui.popover_trigger "Popover Right", as: :btn, variant: :outline %>
    <%= ui.popover_content(title: "Popover Right") do %>
      And here's some amazing content. It's very engaging.
    <% end %>
  <% end %>

  <%= ui.popover(placement: :top) do %>
    <%= ui.popover_trigger "Popover Top", as: :btn, variant: :secondary %>
    <%= ui.popover_content(title: "Popover Top") do %>
      This popover appears above the button.
    <% end %>
  <% end %>
</div>
