<div class="flex flex-col gap-4">
  <%= ui.btn_group sticky: false do %>
    <%= ui.tooltip "Top Tooltip", title: "Top Tooltip", as: :btn, placement: :top, variant: :secondary %>
    <%= ui.tooltip "Right Tooltip", title: "Right Tooltip", as: :btn, placement: :right, variant: :danger %>
    <%= ui.tooltip "Left Tooltip", title: "Left Tooltip", as: :btn, placement: :left %>
    <%= ui.tooltip "Bottom Tooltip", title: "Bottom Tooltip", as: :btn, placement: :bottom %>
  <% end %>

  <span>
    Tooltip without component
    <%= ui.icon "question-circle", size: 5, data: { controller: "tooltip", tooltip_content_value: "Without component" }, class: "cursor-help" %>
  </span>
</div>
