<aside class="sidebar">
  <div class="sidebar__logo">
    <%= vite_svg_tag("images/safari/logo.svg") %>
  </div>
  <nav class="sidebar__menu">
    <div class="sidebar__submenu">
      <strong class="sidebar__subheading">Home</strong>
      <%= link_to safari_path, class: "sidebar__item" do %>
        <%= vite_svg_tag("images/safari/icons/dashboard.svg") %>
        <span>Dashboard</span>
      <% end %>
    </div>

    <div class="sidebar__submenu">
      <strong class="sidebar__subheading">Operations</strong>
      <%= link_to safari_path, class: "sidebar__item bg-primary-100" do %>
        <%= vite_svg_tag("images/safari/icons/tasks.svg") %>
        <span>Tasks</span>
      <% end %>
      <%= link_to safari_path, class: "sidebar__item" do %>
        <%= vite_svg_tag("images/safari/icons/financials.svg") %>
        <span>Financials</span>
      <% end %>
      <%= link_to safari_path, class: "sidebar__item" do %>
        <%= vite_svg_tag("images/safari/icons/contacts.svg") %>
        <span>Contacts</span>
      <% end %>
    </div>

    <div class="sidebar__submenu">
      <strong class="sidebar__subheading">Libraries</strong>
      <%= link_to safari_path, class: "sidebar__item" do %>
        <%= vite_svg_tag("images/safari/icons/content.svg") %>
        <span>Content</span>
      <% end %>
      <%= link_to safari_path, class: "sidebar__item" do %>
        <%= vite_svg_tag("images/safari/icons/resources.svg") %>
        <span>Resources</span>
      <% end %>
      <%= link_to safari_path, class: "sidebar__item" do %>
        <%= vite_svg_tag("images/safari/icons/documents.svg") %>
        <span>Documents</span>
      <% end %>
      <%= link_to safari_path, class: "sidebar__item" do %>
        <%= vite_svg_tag("images/safari/icons/media.svg") %>
        <span>Media</span>
      <% end %>
    </div>
  </nav>
</aside>
