<%
  set_meta_tags(
    title: "Accordion - Rails UI Components",
    description: "Accordion component for organizing and displaying content in a collapsible format.",
    keywords: "Rails, Accordion, UI Components, Collapsible, Content Organization"
  )
%>
<% breadcrumb :ui_accordion %>

<article>
  <header class="header">
    <div class="header__heading">
      <h1 class="header__title">Accordion</h1>
      <p class="header__subtitle">
        When you want to say a lot but not all at once
      </p>
    </div>

    <div class="header__actions">
      <%= link_to "View on GitHub", "https://github.com/jetrockets/ui.jetrockets.com/tree/main/app/components/ui/accordion", class: "btn btn-secondary", target: "_blank", rel: "noopener noreferrer" %>
    </div>
  </header>

  <section>
    <h2 class="h3">Example</h2>
    <%= turbo_frame_tag :ui_accordion, data: { turbo_action: :advance }, target: :_top do %>
      <%= render Ui::Tabs::Component.new class: "mb-6" do |tabs| %>
        <% tabs.with_item title: "Preview", href: ui_accordion_path, data: { turbo_frame: :ui_accordion }, active: !params[:code] %>
        <% tabs.with_item title: "Code", href: ui_accordion_path(code: true), data: { turbo_frame: :ui_accordion }, active: params[:code] %>
      <% end %>

      <% unless params[:code] %>
        <%= render "ui/examples/accordion" %>
      <% else %>
        <%= render_code_example("ui/examples/_accordion") %>
      <% end %>
    <% end %>
  </section>
</article>
