<% set_meta_tags(
  title: "Badge - Rails UI Components",
  description: "Badge component for displaying status and labels.",
  keywords: "Rails, UI Components, Badge"
) %>
<% breadcrumb :ui_badge %>

<%= ui.header do %>
  <%= ui.header_heading do %>
    <%= ui.header_title "Badge" %>
    <%= ui.header_subtitle "Badge component for displaying status and labels." %>
  <% end %>
  <%= ui.header_actions do %>
    <%= ui.btn "View on GitHub", url: "https://github.com/jetrockets/ui.jetrockets.com/tree/main/app/components/ui/badge", variant: :secondary, target: "_blank", rel: "noopener noreferrer" %>
  <% end %>
<% end %>

<article class="flex flex-col gap-12">
  <%= render_component_preview("badge") %>

  <section class="flex flex-col gap-4">
    <h2 class="h3">Usage</h2>
    <%= render_component_usage("badge") %>
  </section>

  <%= render_props_table("badge") %>

  <section class="flex flex-col gap-6">
    <h2 class="h3">Examples</h2>
    <%= render_component_examples("badge") %>
  </section>
</article>
