<%
  set_meta_tags(
    title: "Drawer - Rails UI Components",
    description: "Drawer component for sliding panel overlays.",
    keywords: "Rails, UI Components, Drawer"
  )
%>
<% breadcrumb :ui_drawer %>

<article>
  <header class="header">
    <div class="header__heading">
      <h1 class="header__title">Drawer</h1>
      <p class="header__subtitle">
        Drawer component for sliding panel overlays.
      </p>
    </div>

    <div class="header__actions">
      <%= link_to "View on GitHub", "https://github.com/jetrockets/ui.jetrockets.com/tree/main/app/components/ui/drawer", class: "btn btn-secondary", target: "_blank", rel: "noopener noreferrer" %>
    </div>
  </header>

  <section>
    <div class="flex flex-col mb-12 gap-4">
      <%= render Ui::Alert::Component.new title: "To use async Drawer component, you need to have a <turbo-frame id='drawer'> in your layout", type: :warning %>
      <pre><code>&lt;%= turbo_frame_tag :drawer %&gt;</code></pre>
    </div>

    <h2 class="h3">Example</h2>
    <%= turbo_frame_tag :ui_drawer, data: { turbo_action: :advance }, target: :_top do %>
      <%= render Ui::Tabs::Component.new class: "mb-6" do |tabs| %>
        <% tabs.with_item title: "Preview", href: ui_drawer_path, data: { turbo_frame: :ui_drawer }, active: !params[:code] %>
        <% tabs.with_item title: "Code", href: ui_drawer_path(code: true), data: { turbo_frame: :ui_drawer }, active: params[:code] %>
      <% end %>

      <div class="flex flex-col mb-12 gap-4">
        <% unless params[:code] %>
          <%= render "ui/examples/drawer" %>
        <% else %>
          <%= render_code_example("ui/examples/_drawer") %>
        <% end %>
      </div>
    <% end %>
  </section>
</article>
