<%
  set_meta_tags(
    title: "Popover - Rails UI Components",
    description: "Popover component for contextual content overlays.",
    keywords: "Rails, UI Components, Popover"
  )
%>
<% breadcrumb :ui_popover %>

<article>
  <header class="header">
    <div class="header__heading">
      <h1 class="header__title">Popover</h1>
      <p class="header__subtitle">
        Popover component for contextual content overlays.
      </p>
    </div>

    <div class="header__actions">
      <%= link_to "View on GitHub", "https://github.com/jetrockets/ui.jetrockets.com/tree/main/app/components/ui/popover", class: "btn btn-secondary", target: "_blank", rel: "noopener noreferrer" %>
    </div>
  </header>

  <section>
    <h2 class="h3">Example</h2>
    <%= turbo_frame_tag :ui_popover, data: { turbo_action: :advance }, target: :_top do %>
      <%= render Ui::Tabs::Component.new class: "mb-6" do |tabs| %>
        <% tabs.with_item title: "Preview", href: ui_popover_path, data: { turbo_frame: :ui_popover }, active: !params[:code] %>
        <% tabs.with_item title: "Code", href: ui_popover_path(code: true), data: { turbo_frame: :ui_popover }, active: params[:code] %>
      <% end %>

      <div class="flex flex-col gap-2">
        <% unless params[:code] %>
          <%= render "ui/examples/popover" %>
        <% else %>
          <%= render_code_example("ui/examples/_popover") %>
        <% end %>
      </div>
    <% end %>
  </section>
</article>
