<% set_meta_tags(
  title: "Turbo Confirm - Rails UI Components",
  description: "Turbo Confirm component for confirmation modals.",
  keywords: "Rails, UI Components, Turbo Confirm"
) %>
<% breadcrumb :ui_turbo_confirm %>

<%= ui.header do %>
  <%= ui.header_heading do %>
    <%= ui.header_title "Turbo Confirm" %>
    <%= ui.header_subtitle "Turbo Confirm component for confirmation modals." %>
  <% end %>
  <%= ui.header_actions do %>
    <%= ui.btn "View on GitHub", url: "https://github.com/jetrockets/ui.jetrockets.com/tree/main/app/components/ui/turbo_confirm", variant: :secondary, target: "_blank", rel: "noopener noreferrer" %>
  <% end %>
<% end %>

<article class="flex flex-col gap-12">
  <%= render_component_preview("turbo_confirm") %>

  <section class="flex flex-col gap-4">
    <h2 class="h3">Usage</h2>
    <%= render_component_usage("turbo_confirm") %>
  </section>

  <%= render_props_table("turbo_confirm") %>

  <section class="flex flex-col gap-6">
    <h2 class="h3">Examples</h2>
    <%= render_component_examples("turbo_confirm") %>
  </section>
</article>
