<%
  set_meta_tags(
    title: "Typography - Rails UI Components",
    description: "Typography styles and text formatting utilities.",
    keywords: "Rails, UI Components, Typography"
  )
%>
<% breadcrumb :ui_typography %>

<article>
  <%= ui.header do %>
    <%= ui.header_heading do %>
      <%= ui.header_title "Typography" %>
      <%= ui.header_subtitle "Typography styles and text formatting utilities." %>
    <% end %>
    <%= ui.header_actions do %>
      <%= ui.btn "View on GitHub", url: "https://github.com/jetrockets/ui.jetrockets.com/tree/main/app/assets/stylesheets/components/typography.css", variant: :secondary, target: "_blank", rel: "noopener noreferrer" %>
    <% end %>
  <% end %>

  <section class="flex flex-col gap-4">
    <h2 class="h3">Example</h2>
    <%= ui.tabs do %>
      <%= ui.tabs_item "Preview", href: ui_typography_path, active: !params[:code] %>
      <%= ui.tabs_item "Code", href: ui_typography_path(code: true), active: params[:code] %>
    <% end %>

    <div class="flex flex-col gap-2">
      <% unless params[:code] %>
        <%= render "ui/examples/typography" %>
      <% else %>
        <%= render_code_example("ui/examples/_typography") %>
      <% end %>
    </div>
  </section>
</article>
