<%
  set_meta_tags(
    title: "Profile",
    description: "Manage your profile and settings",
  )
%>
<% breadcrumb :profile %>

<article>
  <%= ui.header do %>
    <%= ui.header_heading do %>
      <%= ui.header_title "Your Profile" %>
      <%= ui.header_subtitle "Manage your profile and settings." %>
    <% end %>
  <% end %>

  <section class="max-w-xl mx-auto">
    <%= render "user/profile/form", user: current_user %>
  </section>
</article>
