<div class="overflow-x-auto">
  <table class="table table-full">
    <thead class="table__thead">
      <tr>
        <% headers.each do |header| %>
          <th class="table__th"><%= header %></th>
        <% end %>
      </tr>
    </thead>

    <tbody class="table__tbody">
      <% rows.each do |row| %>
        <tr>
          <td class="table__td">
            <ul>
              <li><%= row[:name] %></li>
              <li><%= row[:email] %></li>
            </ul>
          </td>
          <td class="table__td table__td-center">
            <%= row[:status] %>
          </td>
          <td class="table__td">
            <%= helpers.date_format(row[:created_at], :full_month) %>
          </td>
          <td class="table__td table__td-actions">
            <%= render Ui::Btn::Component.new(variant: :link, href: row[:edit_link]).with_content("Edit") %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>