<% set_meta_tags(title: "Change password") %>

<%= render Ui::Modal::Component.new(title: "Change password", size: :lg) do %>
  <div class="modal__body">
    <%= form_with url: rodauth.change_password_path, method: :post, class: "form" do |form| %>
      <% if rodauth.change_password_requires_password? %>
        <%= form.password_field rodauth.password_param, value: "", autocomplete: rodauth.password_field_autocomplete_value, required: true, error: rodauth.field_error(rodauth.password_param) %>
      <% end %>

      <%= form.password_field rodauth.new_password_param, value: "", autocomplete: "new-password", required: true, error: rodauth.field_error(rodauth.new_password_param) %>

      <% if rodauth.require_password_confirmation? %>
        <%= form.password_field rodauth.password_confirm_param, value: "", autocomplete: "new-password", required: true, error: rodauth.field_error(rodauth.password_confirm_param) %>
      <% end %>

      <div class="form__actions">
        <%= form.submit rodauth.change_password_button, class: "btn-block" %>
      </div>
    <% end %>
  </div>
<% end %>
