<% set_meta_tags(title: "Edit email") %>

<%= render Ui::Modal::Component.new(title: "Edit email", size: :lg) do %>
  <div class="modal__body">
    <%= form_with url: rodauth.change_login_path, method: :post, class: "form" do |form| %>
      <%= form.email_field rodauth.login_param, value: params[rodauth.login_param], autocomplete: "email", required: true, error:rodauth.field_error(rodauth.login_param) %>

      <% if rodauth.require_login_confirmation? %>
        <%= form.email_field rodauth.login_confirm_param, value: params[rodauth.login_confirm_param], autocomplete: "email", required: true, error: rodauth.field_error(rodauth.login_confirm_param) %>
      <% end %>

      <% if rodauth.change_login_requires_password? %>
        <%= form.password_field rodauth.password_param, value: "", autocomplete: rodauth.password_field_autocomplete_value, required: true, error: rodauth.field_error(rodauth.password_param) %>
      <% end %>

      <div class="form__actions">
        <%= form.submit rodauth.change_login_button, class: "btn-block" %>
      </div>
    <% end %>
  </div>
<% end %>
