<% set_meta_tags(title: "Change password") %>

<%= render Modal::Component.new(title: "Change password", size: :md) do %>
  <div class="modal__body">
    <%= form_with url: rodauth.change_password_path, method: :post, class: "form" do |form| %>
      <% if rodauth.change_password_requires_password? %>
        <div class="form__group">
          <%= form.label "password", rodauth.password_label %>
          <%= form.password_field rodauth.password_param, value: "", id: "password", autocomplete: rodauth.password_field_autocomplete_value, required: true, class: "#{"form__iput-errored" if rodauth.field_error(rodauth.password_param)}" %>
          <% if rodauth.field_error(rodauth.password_param) %>
            <%= content_tag(:span, rodauth.field_error(rodauth.password_param), class: "form__error") %>
          <% end %>
        </div>
      <% end %>

      <div class="mb-6">
        <%= form.label "new-password", rodauth.new_password_label, class: "block text-sm font-semibold" %>
        <%= form.password_field rodauth.new_password_param, value: "", id: "new-password", autocomplete: "new-password", required: true, class: "#{"form__iput-errored" if rodauth.field_error(rodauth.new_password_param)}" %>
        <% if rodauth.field_error(rodauth.new_password_param) %>
          <%= content_tag(:span, rodauth.field_error(rodauth.new_password_param), class: "form__error") %>
        <% end %>
      </div>

      <% if rodauth.require_password_confirmation? %>
        <div class="mb-6">
          <%= form.label "password-confirm", rodauth.password_confirm_label, class: "block text-sm font-semibold" %>
          <%= form.password_field rodauth.password_confirm_param, value: "", id: "password-confirm", autocomplete: "new-password", required: true, class: "#{"form__iput-errored" if rodauth.field_error(rodauth.password_confirm_param)}" %>
          <% if rodauth.field_error(rodauth.password_confirm_param) %>
            <%= content_tag(:span, rodauth.field_error(rodauth.password_confirm_param), class: "form__error") %>
          <% end %>
        </div>
      <% end %>

      <div class="form__actions">
        <%= form.submit rodauth.change_password_button, class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
  </div>
<% end %>
