<% set_meta_tags(title: "Are you sure?") %>

<%= render Ui::Modal::Component.new(title: "Are you sure?", size: :lg) do %>
  <div class="modal__body">
    <%= render Ui::Alert::Component.new variant: :info, class: "mb-4" do |alert| %>
      <strong>Deleting an account</strong> is a permanent action that cannot be undone.
    <% end %>

    <%= form_with url: rodauth.close_account_path, method: :post, class: "form" do |form| %>
      <% if rodauth.close_account_requires_password? %>
        <%= form.password_field rodauth.password_param, value: "", autocomplete: rodauth.password_field_autocomplete_value, required: true, error: rodauth.field_error(rodauth.password_param) %>
      <% end %>

      <div class="form__actions">
        <%= form.submit rodauth.close_account_button, class: "btn-danger btn-outlined btn-block" %>
      </div>
    <% end %>
  </div>
<% end %>
