<% set_meta_tags(title: "Sign up", description: "Create your #{site_name}'s account") %>

<%= render Ui::Modal::Component.new(title: "Sign Up", size: :lg) do %>
  <div class="modal__body">
    <p class="mb-4 text-gray-600">
      Create your <%= site_name %>'s account
    </p>

    <%= form_with url: rodauth.create_account_path, method: :post, class: "form" do |form| %>
      <%= form.email_field rodauth.login_param, autofocus: true, value: params[rodauth.login_param], autocomplete: "email", required: true, error: rodauth.field_error(rodauth.login_param) %>

      <% if rodauth.require_login_confirmation? %>
        <%= form.email_field rodauth.login_confirm_param, value: params[rodauth.login_confirm_param], autocomplete: "email", required: true, error: rodauth.field_error(rodauth.login_confirm_param) %>
      <% end %>

      <% if rodauth.create_account_set_password? %>
        <%= form.password_field rodauth.password_param, value: "", autocomplete: rodauth.password_field_autocomplete_value, required: true, error: rodauth.field_error(rodauth.password_param) %>

        <% if rodauth.require_password_confirmation? %>
          <%= form.password_field rodauth.password_confirm_param, value: "", autocomplete: "new-password", required: true, error: rodauth.field_error(rodauth.password_confirm_param) %>
        <% end %>
      <% end %>

      <div class="mb-6 form__actions">
        <%= form.submit rodauth.create_account_button, class: "btn-block" %>
      </div>

      <ul class="text-sm text-gray-600">
        <li>
          Already have an account?
          <%= link_to "Sign in", rodauth.login_path, class: "link no-underline text-sm" %>
        </li>
      </ul>
    <% end %>
  </div>
<% end %>
