<% set_meta_tags(title: "Logout", description: "Logout from #{site_name}") %>

<%= ui.modal(title: "Logout", size: :lg) do %>
  <%= form_with url: rodauth.logout_path, method: :post, data: { turbo: false } do |form| %>
    <%= ui.modal_body do %>
      <p class="mb-3 text-muted-foreground">
        Logout from <%= site_name %>
      </p>

      <% if rodauth.features.include?(:active_sessions) %>
        <%= form.group do %>
          <%= form.check_box rodauth.global_logout_param, include_hidden: false, label: rodauth.global_logout_label %>
        <% end %>
      <% end %>

      <%= form.submit rodauth.logout_button, block: true %>
    <% end %>
  <% end %>
<% end %>
