<% set_meta_tags(title: "Create new password") %>

<%= render Ui::Modal::Component.new(title: "Create new password", size: :lg) do %>
  <div class="modal__body">
    <%= form_with url: rodauth.reset_password_path, method: :post, class: "form" do |form| %>
      <p class="mb-4 text-gray-600">
        Your password must be 8 characters or more, case sensitive and may consist of letters, numbers and special characters.
      </p>

      <%= form.password_field rodauth.password_param, value: "", autocomplete: rodauth.password_field_autocomplete_value, required: true, error: rodauth.field_error(rodauth.password_param) %>

      <% if rodauth.require_password_confirmation? %>
        <%= form.password_field rodauth.password_confirm_param, value: "", autocomplete: "new-password", required: true, error: rodauth.field_error(rodauth.password_confirm_param) %>
      <% end %>

      <div class="form__actions">
        <%= form.submit rodauth.reset_password_button, class: "btn-block" %>
      </div>
    <% end %>
  </div>
<% end %>
