<% set_meta_tags(title: "Forgot password", description: rodauth.reset_password_explanatory_text) %>

<%= ui.modal(title: "Forgot password", size: :lg) do %>
  <%= ui.modal_body do %>
    <p class="mb-4 text-muted-foreground">
      If you have forgotten your password, you can request a password reset:
    </p>

    <%= form_with url: rodauth.reset_password_request_path, method: :post do |form| %>
      <% if params[rodauth.login_param] && !rodauth.field_error(rodauth.login_param) %>
        <%= form.hidden_field rodauth.login_param, value: params[rodauth.login_param] %>
      <% else %>
        <%= form.email_field rodauth.login_param, value: params[rodauth.login_param], autocomplete: "email", required: true, error: rodauth.field_error(rodauth.login_param) %>
      <% end %>

      <div class="mb-6 form__actions">
        <%= form.submit rodauth.reset_password_request_button, block: true %>
      </div>

      <ul class="text-sm text-muted-foreground">
        <li>
          Return to
          <%= link_to "Sign in", rodauth.login_path, class: "link no-underline" %>
        </li>
      </ul>
    <% end %>
  <% end %>
<% end %>
