<% set_meta_tags(title: "Create new password") %>

<%= render Ui::Modal::Component.new(title: "Create new password", size: :md) do %>
  <div class="modal__body">
    <%= form_with url: rodauth.reset_password_path, method: :post, class: "form" do |form| %>
      <p class="mb-4 text-sm text-gray-600">
        Your password must be 8 characters or more, case sensitive and may consist of letters, numbers and special characters.
      </p>

      <div class="form__group">
        <%= form.label "password", rodauth.password_label %>
        <%= form.password_field rodauth.password_param, value: "", id: "password", autocomplete: rodauth.password_field_autocomplete_value, required: true, class: "#{"form__input-errored" if rodauth.field_error(rodauth.password_param)}" %>
        <% if rodauth.field_error(rodauth.password_param)%>
          <%= content_tag(:span, rodauth.field_error(rodauth.password_param), class: "form__error") %>
        <% end %>
      </div>

      <% if rodauth.require_password_confirmation? %>
        <div class="form__group">
          <%= form.label "password-confirm", rodauth.password_confirm_label %>
          <%= form.password_field rodauth.password_confirm_param, value: "", id: "password-confirm", autocomplete: "new-password", required: true, class: "#{"form__input-errored" if rodauth.field_error(rodauth.password_confirm_param)}" %>
          <% if rodauth.field_error(rodauth.password_confirm_param)%>
            <%= content_tag(:span, rodauth.field_error(rodauth.password_confirm_param), class: "form__error") %>
          <% end %>
        </div>
      <% end %>

      <div class="form__actions">
        <%= form.submit rodauth.reset_password_button, class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
  </div>
<% end %>
