<% set_meta_tags(title: "Forgot password", description: rodauth.reset_password_explanatory_text) %>

<%= render Ui::Modal::Component.new(title: "Forgot password", subtitle: rodauth.reset_password_explanatory_text, size: :lg) do %>
  <div class="modal__body">
    <%= form_with url: rodauth.reset_password_request_path, method: :post, class: "form" do |form| %>
      <% if params[rodauth.login_param] && !rodauth.field_error(rodauth.login_param) %>
        <%= form.hidden_field rodauth.login_param, value: params[rodauth.login_param] %>
      <% else %>
        <div class="form__group">
          <%= form.label "login", rodauth.login_label %>
          <%= form.email_field rodauth.login_param, value: params[rodauth.login_param], id: "login", autocomplete: "email", required: true, class: "#{"form__input-errors" if rodauth.field_error(rodauth.login_param)}" %>
          <% if rodauth.field_error(rodauth.login_param) %>
            <%= content_tag(:p, rodauth.field_error(rodauth.login_param), class: "form__error") %>
          <% end %>
        </div>
      <% end %>

      <div class="mb-6 form__actions">
        <%= form.submit rodauth.reset_password_request_button, class: "btn btn-primary btn-block" %>
      </div>

      <ul class="text-sm text-gray-600">
        <li>
          Return to
          <%= link_to "Sign in", rodauth.login_path, class: "link no-underline" %>
        </li>
      </ul>
    <% end %>
  </div>
<% end %>
