<% set_meta_tags(title: "Please verify your account", description: rodauth.verify_account_resend_explanatory_text) %>

<%= render Ui::Modal::Component.new(title: "Please verify your account", size: :lg) do %>
  <div class="modal__body">
    <%= form_with url: rodauth.verify_account_path, method: :post, data: { turbo: false }, class: "form" do |form| %>
      <% if rodauth.verify_account_set_password? %>
        <p>
          Now it's just a matter of a few things. Create a strong password for your account.
        </p>
        <p class="mt-3 text-sm text-gray-600">
          Make sure your password is at least 8 characters long and includes at least one number and one special character.
        </p>

        <%= form.password_field rodauth.password_param, value: "", autocomplete: rodauth.password_field_autocomplete_value, required: true, class: rodauth.field_error(rodauth.password_param) %>

        <% if rodauth.require_password_confirmation? %>
          <%= form.password_field rodauth.password_confirm_param, value: "", autocomplete: "new-password", required: true, error: rodauth.field_error(rodauth.password_confirm_param) %>
        <% end %>

        <div class="mb-6 form__actions">
          <%= form.submit rodauth.verify_account_button, class: "btn-lg btn-block" %>
        </div>
      <% else %>
        <%= form.submit rodauth.verify_account_button, class: "btn-lg btn-block" %>
      <% end %>
    <% end %>
  </div>
<% end %>
