<% set_meta_tags(title: "Please verify your email", description: rodauth.verify_account_resend_explanatory_text) %>

<%= render Ui::Modal::Component.new(title: "Please verify your email", size: :md) do %>
  <div class="modal__body">
    <p class="mb-4 text-gray-600">
      If you no longer have the email to verify the account, you can request that it be resent to you:
    </p>

    <%= form_with url: rodauth.verify_account_resend_path, data: { turbo: false }, method: :post, class: "form" do |form| %>
      <% if params[rodauth.login_param] %>
        <%= form.hidden_field rodauth.login_param, value: params[rodauth.login_param] %>
      <% else %>
        <%= form.email_field rodauth.login_param, value: params[rodauth.login_param], autocomplete: "email", required: true, error: rodauth.field_error(rodauth.login_param) %>
      <% end %>

      <div class="mb-6 form__actions">
        <%= form.submit rodauth.verify_account_resend_button, class: "btn-block" %>
      </div>

      <ul class="text-sm text-gray-600">
        <li>
          Return to
          <%= link_to "Sign in", rodauth.login_path, class: "link no-underline" %>
        </li>
      </ul>
    <% end %>
  </div>
<% end %>
