<%
  set_meta_tags(
    title: "Please verify your email",
    description: rodauth.verify_account_resend_explanatory_text,
  )
%>

<%= render Modal::Component.new(title: "Please verify your email", subtitle: rodauth.verify_account_resend_explanatory_text, size: :md) do %>
  <div class="modal__body">
    <%= form_with url: rodauth.verify_account_resend_path, method: :post, class: "form" do |form| %>
      <% if params[rodauth.login_param] %>
        <%= form.hidden_field rodauth.login_param, value: params[rodauth.login_param] %>
      <% else %>
        <div class="mb-6">
          <%= form.label "login", rodauth.login_label %>
          <%= form.email_field rodauth.login_param, value: params[rodauth.login_param], id: "login", autocomplete: "email", required: true, class: "#{"form__input-errored" if rodauth.field_error(rodauth.login_param)}" %>
          <% if rodauth.field_error(rodauth.login_param) %>
            <%= content_tag(:span, rodauth.field_error(rodauth.login_param), class: "form__error")  %>
          <% end %>
        </div>
      <% end %>

      <div class="mb-6 form__actions">
        <%= form.submit rodauth.verify_account_resend_button, class: "btn btn-primary btn-block" %>
      </div>

      <ul class="text-sm text-gray-600">
        <li>
          Return to
          <%= link_to "Sign in", rodauth.login_path, class: "link no-underline" %>
        </li>
      </ul>
    <% end %>
  </div>
<% end %>
