<% set_meta_tags(title: "Please verify your account") %>

<%= ui.modal(title: "Please verify your account") do %>
  <%= ui.modal_body do %>
    <p class="mb-3 text-muted-foreground">
      By clicking button below you will update your email address to
      <strong>
        <%= rodauth.verify_login_change_new_login %>
      </strong>.
    </p>

    <%= form_with url: rodauth.verify_login_change_path, method: :post, data: { turbo: false } do |form| %>
      <%= form.submit rodauth.verify_login_change_button, block: true %>
    <% end %>
  <% end %>
<% end %>
