<!DOCTYPE html>

<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-prefetch" content="false">
    <meta name="turbo-cache-control" content="no-cache">
    <meta name="view-transition" content="same-origin" />

    <%= display_meta_tags(default_meta_tags) %>

    <%= render partial: "layouts/shared/favicons" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_stylesheet_tag "tailwind", "application" %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag "application", data: { turbo_track: :reload }, async: true %>
    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>

    <%= render partial: "layouts/shared/analytics" if Rails.env.production? %>
    <%= yield(:head) %>
  </head>

  <body class="<%= body_classes %>" data-controller="sidebar modal drawer">
    <div class="body__main">
      <%= render partial: "layouts/shared/sidebar" %>
      <main class="body__content">
        <nav class="navbar">
          <%= breadcrumbs(separator: content_tag(:span, "/", class: "breadcrumbs__separator"), class: "breadcrumbs", display_single_fragment: true) %>
          <%= render partial: "layouts/shared/rodauth_buttons" %>
        </nav>
        <%= yield %>
        <%= render partial: "layouts/shared/footer" %>
      </main>
    </div>

    <%= render Ui::Flash::Component.new %>
    <%= render Ui::TurboConfirm::Component.new %>
    <%= turbo_frame_tag :drawer %>
    <%= turbo_frame_tag :modal %>
  </body>
</html>
