<!DOCTYPE html>

<html lang="<%= I18n.locale %>">
  <head>
    <title>Component Preview</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-prefetch" content="false">
    <meta name="turbo-cache-control" content="no-cache">

    <%= render partial: "layouts/shared/favicons" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_stylesheet_tag "application", data: { turbo_track: "reload" } %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag "application", data: { turbo_track: "reload" }, async: true %>
    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
  </head>

  <body data-controller="modal drawer">
    <div class="mt-6 wrapper">
      <%= yield %>
    </div>
  </body>
</html>
